<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="digital_photo_frame_screen_saver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <digital_photo_frame_screen_saver.Properties.Settings>
            <setting name="PicturePath" serializeAs="String">
                <value/>
            </setting>
            <setting name="RotationMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MultipleDisplayBehavior" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TargetDisplayNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RotationInterval" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FileNameFilter" serializeAs="String">
                <value>.*</value>
            </setting>
            <setting name="IncludeSubDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResizeHighQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ExifMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExifFontColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="ExifFontFace" serializeAs="String">
                <value>Arial, 9pt</value>
            </setting>
            <setting name="RemoveSideBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClockColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="ClockMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClockSize" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ClockColorAutomatic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClockVerticalPosition" serializeAs="String">
                <value>50</value>
            </setting>
        </digital_photo_frame_screen_saver.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
